body {
  font-family: 'Raleway';
}

header {
  background-image: url('../img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30rem;
}

#yo_soy {
  vertical-align: middle;
  font-family: 'Poppins';
}

#título {
  font-family: 'Poppins';
  vertical-align: middle;
}

footer {
  width: 100%;
}
