body {
  font-family: 'Raleway'
}

header {
  background-image: url('../img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#yo-soy {
  vertical-align: middle;
  font-family: 'Poppins';
}

#contacto {
  font-family: 'Poppins'
}

footer {
  width: 100%;
}
