body {
  font-family: 'Raleway';
  background-color: #ffffff;
}

hr {
  width: 20rem;
  color: #000000;
}

header {
  background-image: url('../img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30rem;
}

#yo_soy {
  vertical-align: middle;
  font-family: 'Poppins';
}

#título_nav, #título_hero1, #título_hero2, #título_trabajos_1, #título_trabajos_2, #título_experiencia, #sobre_mí, #título_mis_fotos  {
  font-family: 'Poppins';
  vertical-align: middle;
}
